@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 283 22% 98%;
    --foreground: 283 22% 10%;
    --card: 0 0% 100%;
    --card-foreground: 283 22% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 283 22% 10%;
    --primary: 280 100% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 100% 92%;
    --secondary-foreground: 280 100% 30%;
    --muted: 283 10% 90%;
    --muted-foreground: 283 10% 40%;
    --accent: 240 100% 82%;
    --accent-foreground: 283 22% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 283 10% 85%;
    --input: 283 10% 85%;
    --ring: 280 100% 30%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 283 22% 6%;
    --foreground: 283 22% 98%;
    --card: 283 22% 10%;
    --card-foreground: 283 22% 98%;
    --popover: 283 22% 10%;
    --popover-foreground: 283 22% 98%;
    --primary: 280 100% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 283 22% 15%;
    --secondary-foreground: 283 22% 98%;
    --muted: 283 22% 15%;
    --muted-foreground: 283 22% 70%;
    --accent: 240 100% 82%;
    --accent-foreground: 283 22% 6%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;
    --border: 283 22% 15%;
    --input: 283 22% 15%;
    --ring: 240 100% 82%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline tracking-tight;
  }
}
